body {
    font-family: 'Marck Script', cursive;
    font-family: 'Raleway', sans-serif;
}

header {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('../img/ny_photo_2.jpg');
    background-position: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.texto-encima {
    position: absolute;
    top: 100px;
    left: 100px;
}

.whoiam {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.conocimientos {
    align-items: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.conocimientos .information {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.conocimientos i {
    font-size: 50px;
    text-align: center;
}

.conocimientos .info {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.conocimientos .saberes h2 {
    text-align: center;
}

.picturework .picture {
    width: 340px;
    height: 250px;
}

.mywork {
    align-items: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.mywork .work {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.mywork .title h2 {
    text-align: center;
}